html {
  color: #fff;
  background: url("../images/starfield.png") repeat;
  font-family: "Ubuntu Condensed", sans-serif;
}

.banner {

}

.btn {
  color: #b4fff4;
  text-decoration: none;
}

.btn-ghost {
border: #b4fff4 solid 2px;
}

.btn-ghost:hover,
.btn-ghost:active,
.btn-ghost:focus {

}

.icon {
}
